body {
    color: var(--cor-01);
    font-family: "Nunito", Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 60px 2%;
    width: 100%;
}

.titulo {
    font: 700 3rem/1 "Nunito", Arial, Helvetica, sans-serif;
    line-height: 1;
    padding-bottom: 60px;
    padding-top: 60px;
}

.subtitulos {
    font: 700 3rem/1 "Nunito", Arial, Helvetica, sans-serif;
    line-height: 1;
    margin-bottom: .8em;
}