body {
    color: var(--cor-01);
    font-family: "Nunito", Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
}