.header-bg {
    background: var(--cor-03);
    color: var(--cor-04);
}

.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
}

.header .header-logo a {
    font-size: 2.25rem;
    font-weight: 700;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header nav a {
    display: block;
    font-size: 1.25rem;
    padding: 10px;
    position: relative;
}

.header nav a::after {
    background-color: var(--cor-04);
    content: "";
    display: block;
    height: 2px;
    margin-top: 4px;
    transition: 0.3s;
    width: 0;
}

.header a:hover::after {
    width: 100%;
}