.sobre {
    border-bottom: 2px solid var(--cor-03);
    border-top: 2px solid var(--cor-03);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.sobre-info {
    flex-grow: 2;
    flex-basis: 0;
    flex-shrink: 1;
}

.sobre-info p {
    color: var(--cor-05);
    font-size: 1.25rem;
    margin-bottom: 1em;
    line-height: 1.5;
}

.sobre-imagens {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .sobre {
        flex-direction: column;
    }
}