.superinfo-bg {
    background: var(--cor-02);
    color: var(--cor-04);
}

.superinfo {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 0;
}

.superinfo p,
.superinfo a {
    margin: 0 10px 10px 0;
}